<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tierrasur S.R.L</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="../static/img/fav.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="padre">
        <header class="header">
            <div class="logo"><img src="../static/img/tierrasur.png" alt="Logo Tierrasur"></div>
            <div class="campania"><h2>Campaña 20/21</h2></div>
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
       <form method="POST" class="form-date">
            <div class="form-date__div">
                <label for="datee">Fecha</label>
                <input type="date" name="datee" id="date">
                <input type="submit" value="Buscar" id="search">
            </div>
       </form> 
        <div class="excel">
            <form method="POST" class="excel-form">
                <input type="submit" value="DESCARGAR .XLS">
            </form>
        </div>
    </div>
</body>
</html>